---
const { category, icon } = Astro.props;
const categorySlug = category.replace(/\s+/g, "-");
---

<a href={`/category/${categorySlug}`}>
  <div
    class="border border-blue-600 rounded p-5 bg-white gap-1 flex md:justify-evenly items-center"
  >
    <img loading="lazy" src={icon} alt={`${category} icon`} class="w-20 h-20" />
    <h3 class="text-2xl uppercase font-semibold text-nowrap">{category}</h3>
  </div>
</a>
