---

---

<footer
  class="w-full flex flex-col bg-blue-600 justify-center items-center mt-10 p-5 text-white"
>
  <p class="text-center text-xl lg:text-2xl">
    &copy; All rights reserved - DevStore
  </p>
  <code>By Omar Solis</code>
</footer>
